{{ context.error }}

<form name="loginForm" action="{{ context.action }}" method="POST">

Имя:<br>
<input type="text" name="username" maxlength="30" value="" style="width:96%" />

Пароль:<br>
<input type="password" name="password" maxlength="30" style="width:96%" />{{ context.form_key }}

<input type="checkbox" name="autologin" value="1" checked="checked" /> Запомнить
<br>
<input type="submit" name="submitForm" value="Вход" style="width:100%" />
<br>
{{ context.new_password }}

</form>