<style>
.lsmat {height: 64px;}
</style>

<table cellspacing="0" cellpadding="0" class="cat-tb">
	<tr >
			<td class="title" style="vertical-align: middle">Собеседники
							<div style="float: right"><a href="/users/send_pm_form/">Написать</a></div></td>
	</tr>
</table>

<table cellspacing="0" cellpadding="0" class="cat-tb">

{% if messages %}
{% for message in messages %}
	<tr class="lsmat">
		<td class="col"><a style="display: block; width: 32px; height: 32px; background: url({{ getAvatar(message.user.id) }}) no-repeat; background-size: 32px 32px;" href="/users/info/{{ message.user.id }}"></a></td>

		<td class="col" style="width:100%; text-align:center">
			<a href="/users/pm_view/{{ message.user.id }}" style="cursor: pointer;{% if message.viewed != 1 %}font-weight: bold;{% endif %}">{{ message.user.name }}</a><br>
		</td>

		<td class="col" style="text-align: center;width:80px">
			{{ message.delete }}
			<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" />
		</td>
	</tr>
{% endfor %}	
{% endif %}	

</table>

<div class="fps-controll">
	<select style="width:100px;">
		<option>Удалить</option>
	</select>
	<input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user-/');" value="(0)">
	<div style="display:none;">
		<form id="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form>
	</div>
</div>