<div class="title">Профиль пользователя&nbsp;<b>{{ user.name }}</b></div>
<div class="material">
<div style="text-align:center;"><img title="{{ user.name }}" class="userAvatar" border="0" src="{{ user.avatar }}"><br>

{% if user.id != fps_user_id %}
{{ user.privatemessage }}<br>
{% endif %}
{{ user.edit_profile_link }}
</div>
<hr>
Группа:<br>
{{ user.status }}
<hr>
Репутация:<br>
{{ user.rating }}
{% if user.id != fps_user_id %}
&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:void(0)" onClick="$('#setRating_{{ user.user_id }}').show();">-&nbsp;/&nbsp;+</a>




<div id="setRating_{{ user.user_id }}" class="fps-fwin" style="display:none;">
<div class="drag_window">
    <div class="title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ user.name }}</b></div>
    <div onClick="$('#setRating_{{ user.user_id }}').hide()" class="close"></div>
    <div class="cont">
        <form id="ratingForm_{{ user.user_id }}">
            <input type="radio" name="points" value="1" /><b>&nbsp;1</b><br />
            <input type="radio" name="points" value="0" /><b>&nbsp;0</b><br />
            <input type="radio" name="points" value="-1" /><b>-1</b><br />
            <textarea name="comment"></textarea><br />
            <input type="button" value="Отправить" onClick="setRating({{ user.user_id }}, 'ratingForm_{{ user.user_id }}');" />
        </form>
        <div id="infomess_{{ user.user_id }}"></div>
    </div>
</div>
</div>
{% endif %}


<hr>
Предупреждения:<br>
{{ user.warnings }}
<hr>
Дата регистрации:<br>
{{ user.regdate }}
<hr>
Последнее посещение:<br>
{{ user.lastvisit }}
<hr>
Пол:<br>
{{ user.pol }}
<hr>
Возраст:<br>
{{ user.age }}
<hr>

{% if user.city %}
Город:<br>
{{ user.city }}
<hr>
{% endif %}

{% if user.telephone %}
Телефон:<br>
{{ user.telephone }}
<hr>
{% endif %}

E-mail:<br>
{{ user.email }}
<hr>

{% if user.url %}
Сайт:<br>
{{ user.url }}
<hr>
{% endif %}

{% if user.icq %}
Номер в ICQ:<br>
{{ user.icq }}
<hr>
{% endif %}

{% if user.jabber %}
Jabber:<br>
{{ user.jabber }}
<hr>
{% endif %}

{% if user.about %}
Интересы:<br>
{{ user.about }}
<hr>
{% endif %}

Последнее сообщение:<br>
{{ user.lastpost }}
<hr>
Всего сообщений:<br>
{{ user.totalposts }}

{% if user.totalposts != '0' %}
<hr>
<div style="text-align:center;"><a href="{{ www_root }}/forum/user_posts/{{ user.user_id }}">Сообщения пользователя</a></div>
{% endif %}
</div>