{{ context.errors }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="return checkForm(this)">
<div class="material">
Категория:<font color="red" class="manStar">*</font><br>
<select name="cats_selector" style="width: 100%">{{ context.cats_selector }}</select>
<hr>
Заголовок:<font color="red" class="manStar">*</font><br>
<input type="text" name="title" maxlength="128" value="{{ context.title }}" style="width: 96%">
<hr>
Описание:<br>
<textarea style="width: 96%" class="text-area" name="mainText">{{ context.mainText }}</textarea>
<hr>
Meta description:<br>
<textarea name="description" style="width: 96%">{{ context.description }}</textarea>
<hr>
Теги:<br>
<input size="70" type="text" name="tags" value="{{ context.tags }}" style="width: 96%" />
<hr>
Источник(автор):<br>
<input size="70" type="text" name="sourse" value="{{ context.sourse }}" style="width: 96%" />
<hr>
E-Mail автора:<br>
<input size="70" type="text" name="sourse_email" value="{{ context.sourse_email }}" style="width: 96%" />
<hr>
Сайт автора:<br>
<input size="70" type="text" name="sourse_site" value="{{ context.sourse_site }}" style="width: 96%" />
<hr>
Комментарии: <input type="checkbox" name="commented" value="1" {{ context.commented }} />
<hr>
Доступен для просмотра: <input type="checkbox" name="available" value="1" {{ context.available }} />
<hr>
Добавить файлы:<br>
<div id="attachments">
	<input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
	<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
</div>
<hr>
<input class="subm" type="submit" name="submitForm" value="Отправить" style="width: 100%" />
</div>
</form>
