<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{META_DESCRIPTION}" />
<meta name="keywords" content="{META_KEYWORDS}" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<link rel="icon" href="/sys/img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/sys/img/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="/template/pda/css/style.css" />
<script language="JavaScript" type="text/javascript" src="/sys/js/jquery-1.5.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/sys/js/send_message.js"></script>
<script type="text/javascript">
check_pm('{{ fps_user.id }}');

$("select").change(function() {
  window.location = $(this).find(".option_menu:selected").val();
});
</script>
</head>
<body>
<div class="box">

<div class="menu">
		{% if fps_user_id %}
			<a href="/users/info/{{ fps_user_id }}">Анкета</a>
			<a href="/users/in_msg_box/">Почта</a>
			<a href="/chat">Чат</a>
			<a href="/users/logout">Выход</a>
		{% else %}
			<a href="/users/login_form">Вход</a>
			<a href="/users/add_form">Регистрация</a>
			<a href="/chat">Чат</a>
		{% endif %}
</div>
<div class="menu div_menu">
	<a href="/forum">Форум</a>
	<a href="/news">Новости</a>
	<a href="/stat">Статьи</a>
	<a href="/loads">Файлы</a>
	<a href="/foto">Фото</a>
</div>
<select class="menu select_menu" style="color: #616E72;"> 
  <option class="option_menu" value="" selected="selected">Меню</option> 

  <option class="option_menu" value="/">Форум</option> 
  <option class="option_menu" value="/news">Новости</option> 
  <option class="option_menu" value="/stat">Статьи</option> 
  <option class="option_menu" value="/loads">Файлы</option> 
  <option class="option_menu" value="/foto">Фото</option> 
</select>

<script>
$(".select_menu").change(function() {
  window.location = $(this).find(".option_menu:selected").val();
});
</script>

<div class="nav"><div style="float: left"><a href="/">Главная</a>  &raquo Чат</div><div style="float: right"><a href="/chat/"><img src="/template/pda/img/refresh.png"></a></div><div style="clear:both;"></div></div>

<div class="content">


<div class="material">
<iframe id="fpsChat" scrolling="auto" src="/chat/view_messages/"
style="width:100%;height:400px;overflow:auto;margin:0px;padding:0px;border:0;">
</iframe>
{{ content }}
</div>



</div>

<div class="phdr">Статистика:</div>
<div class="cBlock p3px">
	Сейчас online: {{ all_online }}<br />Юзеров: {{ users_online }}<br />Гостей: {{ guests_online }}<br />{{ online_users_list }}
</div>

</div>
</body>
</html>