body {
	background-color: #172125;
	padding: 0;
	margin: 0;
	color: #616E72;
    font: 11px Verdana;
}

a {
    color: #87A637;
}

a:active {
    color: #a7d53a;
}

hr {
	background-color:#eee;
	border:0;
	height: 1px;
	margin: 2px;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

input[type="file"] {
	max-width: 200px;
}

.box {
	max-width: 350px;
	margin: auto;
	border: 1px solid #1c272c;
	border-top: 0;
}

.menu {
	background: url(/template/pda/img/menu.png) repeat-x #151b1e;
	height: 27px;
	border-bottom: 1px solid #1c272c;
	display: table;
	width: 100%;
}

.menu a {
	display: table-cell;
	text-align: center;
	padding: 7px;
	color: #99A5AA;
	text-decoration: none;
}

.menu a:hover {
	color: #A6CC41;
}

.nav {
	background: #0d0d0d;
	padding: 7px;
}

.nav a {
	padding: 5px;
}

.material {
	background: #ffffff;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
}

.phdr {
	width: 120px;
	background: #1C272C;
	border-top: 1px solid #233137;
	border-right: 1px solid #233137;
	margin-top: 5px;
	padding: 3px;
	font-weight: bold;
	color: #fff;
}

.cBlock {
	background: #253439;
	border-top: 1px solid #293940;
}

.p3px {
	padding: 3px;
}

.title {
	padding: 7px;
}

.title a {
	color: #9DC13F;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.mod-panel {
	float:right;
	font:9px;
	padding-top:2px;
}

.select_menu {
	display: none;
}

@media (max-width: 280px) {
  .div_menu     { display: none; }
  .select_menu { display: block; }
}

.users_table_username {
	padding: 10px;
}

.users_table_username a {
	padding: 10px;
	font-weight: bold;
}

.avatar_32 {
    background-image: url("/template/pda/img/wap_avatar_shadow_32.png");
    float: left;
    height: 32px;
    margin: 2px;
    padding: 3px;
    width: 32px;
}