{% if users %}
    {% for user in users %}
        <div class="etopu">
            <img alt="" src="{{ user.avatar }}">

            <div class="ttop">
                <a href="{{ user.profile_url }}">{{ user.name }}</a><br>
                Репутация: {{ user.rating }}
                Сообщений: {{ user.posts }}
            </div>
        </div>
    {% endfor %}
    <div class="etopu">
        <a href="/users/index?order=rating">Весь рейтинг</a>
    </div>
{% endif %}