<div id="vote_cont">
	<h3 style="text-align:center;">{{ pltitle }}</h3>
	<div class="vote_answers">{{ plcontent }}</div>
    <img id="ajaxLoader" style="display:none;" src="/sys/img/ajaxs.gif" />
    <div class="vote_buttons" style="text-align:center;">
         <input onClick="sendVote('{{ pltitle }}');" type="button" name="vote" value="Проголосовать" />
         <input onClick="showRes('{{ pltitle }}');" type="button" name="view" value="Посмотреть" />
    </div>
</div>

<script type="text/javascript">
point = '';
function setPoint(val) {
    point = val;
}
function showRes(title) {
    point = val;
}
function sendVote(title) {
    $('#ajaxLoader').show();
    $.post('{{ action }}', {ans:point,title:title,type:"sendvote"}, function(data){
        $('#ajaxLoader').hide();
        showRes(title);
    });
}
function showRes(title) {
    $('#ajaxLoader').show();
    $.post('{{ action }}', {title:title,type:"show"}, function(data){
        $('#ajaxLoader').hide();
        $('#vote_cont').html(data);
    });
}
</script>