<div id="vote_cont">
	<h3 style="text-align:center;">{{ pltitle }}</h3>
	<div class="vote_answers">{{ plcontent }}</div>
	<div style="text-align:center;">Всего проголосовавших: {{ all_votes_cnt }}</div>
</div>

<script type="text/javascript">
function setPoint() {}
</script>