<div class="list">
    <div class="title">Управление опросами</div>
    <div onclick="openPopup('cat_dWin');" class="add-cat-butt"><div class="add"></div>Добавить опрос</div>
    <div class="level1">
        <div class="items">
            <div class="setting-item">
                <div style="padding: 20px; text-align:left" class="title">Метка для вывода опросов {{ pl_votes }}</div>
            </div>
        </div>
    </div>
    <table cellspacing="0" class="lines grid">
        <th width="25%">Вопрос</th>
        <th>Варианты</th>
        <th width="15%">Проголосовавших</th>
        <th width="20px">Действие</th>
        {{ rows }}
    </table>
</div>

<table cellspacing="0" class="lines">
    {{ settings }}
</table>



<script type="text/javascript">
function addField(id) {
    var cont = $('#'+id+'_fps-votes-fields').find('input');
    var block = $('#'+id+'_fps-votes-fields');
    var data = '<div class="item">' +
    '<div class="left">Вариант ' + (cont.length + 1) + ':</div>' +
    '<div class="right"><input type="text" value="" style="width:230px" name="variant[]" /></div>' +
    '<div style="clear:both;"></div></div>';
    
    var field = document.createElement("div");
    block.append(field);
    field.innerHTML = data;
    //var cont_ = $('#'+id+'_fps-votes-fields');
    //cont_.html(cont_.html() + data);
}
</script>
<div id="cat_dWin" class="popup">
<div class="top">
    <div class="title">Добавление опроса</div>
    <div class="close" onclick="closePopup('cat_dWin');"></div>
</div>
<div class="items">
<form action="plugins.php?ac=edit&plac=add&dir={{ pldir }}" method="POST">


<div class="item">
    <div class="left">
        Вопрос голосования:
    </div>
    <div class="right">
        <input type="hidden" name="type" value="forum" />
        <input type="text" style="width:230px" name="title" />
    </div>
    <div style="clear:both;"></div>
</div>



<div id="{{ uniqid }}_fps-votes-fields">
    <div class="item">
        <div class="left">
            Вариант 1:
        </div>
        <div class="right">
            <input type="text" style="width:230px" value="" name="variant[]" />
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<div class="item" style="margin-top: 5px;text-align:center">
<a onClick="addField('{{ uniqid }}')" href="javascript:void(0)">Добавить вариант ответа</a><br />
<div style="clear:both;"></div></div>

<br>
<div style="text-align: center">
<input class="save-button" type="submit" name="send" value="Сохранить">
</div>

<div style="clear:both;"></div>
</form>
</div>
</div>