{% if materials %}

<style>
.relmat {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.relmat:after {
    content: "";
    display: table;
    clear: both;
}

.relmat_material {
    width: 50%;
    float: left;
    padding: 5px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.relmat_material a {
    padding: 5px;
}

.relmat_title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
	width: 100%;
}
</style>

<div class="relmat">
<div class="relmat_title">Возможно, вас заинтересует:</div>
{% for material in materials %}
<div class="relmat_material">
<a href="{{ material.url }}">{{ material.title }}</a>
</div>
{% endfor %}
</div>
{% endif %}