<!doctype html>
<html>
    <head>
        <style>
            body {
                background: #e9e9e8;
                font-family: Arial,sans-serif;
            }

            .block {
                background-color: #FFFFFF;
                border-radius: 2px 2px 2px 2px;
                margin: auto;
                margin-top: 70px;
                padding: 15px;
                border: 1px solid #D8D8D8;
                border-bottom: 2px solid #D8D8D8;
                width: 50%;
                text-align:center;
                line-height: 200%;
            }

            .rek {
                margin:0 auto;
                margin-top:20px;
                padding:0px;
                text-align:center;
            }

            .title {
                margin: 0px;
                color: #666666;
                font-size: 150%;
                font-weight: bold;
                line-height: 27px;
                margin-bottom: 5px;
            }

            a {
                color: #6DA3BD;
            }
            a:hover {
                color: #4D7285;
            }
        </style>
    </head>
    <body>
        <div class="rek">
            <a href="http://fapos.modostroi.ru" target="_blank">
                <img src="rek.png"/>
            </a>
        </div>
        <div class="block">
            <span class="title">Переадресация</span><br />
            {% if black %}
                Сайт находится в "черном" списке и его посещение не рекомендуется:<br />
            {% else %}
                Ожидайте. Сейчас Вы будете автоматически перемещены по ссылке.<br />Если перемещение не происходит, нажмите на ссылку:
            {% endif %}
            <a href="{{ url }}">
                {{ url }}
            </a>
        </div>
    </body>
</html>