<script type="text/javascript">
maxAttachedFiles = {{ data.max_attaches }};
</script>
{{ data.errors }}
<form name="sendForm" id="sendForm" action="{{ data.action }}" method="POST"
enctype="multipart/form-data" onsubmit="return checkForm(this)">
<div class="material">
Категория:<font color="red" class="manStar">*</font><br>
<select name="cats_selector" style="width: 100%" >{{ data.cats_selector }}</select>
<hr>
Заголовок:<font color="red" class="manStar">*</font><br>
<input type="text" name="title" maxlength="128" value="{{ data.title }}" style="width: 96%">
<hr>
Описание:<br>
<textarea class="text-area" name="mainText" style="width: 96%">{{ data.main_text }}</textarea>
<hr>
Meta description:<br>
<textarea name="description" style="width: 96%">{{ data.description }}</textarea>
<hr>
Теги:<br>
<input size="70" type="text" name="tags" value="{{ data.tags }}" style="width: 96%" />
<hr>
Источник(автор):<br>
<input size="70" type="text" name="sourse" value="{{ data.sourse }}" style="width: 96%" />
<hr>
E-Mail автора:<br>
<input size="70" type="text" name="sourse_email" value="{{ data.sourse_email }}" style="width: 96%" />
<hr>
Сайт автора:<br>
<input size="70" type="text" name="sourse_site" value="{{ data.sourse_site }}" style="width: 96%" />
<hr>
Комментарии:
<input type="checkbox" name="commented" value="1" {{ data.commented }} />
<hr>
Доступен для просмотра:
<input type="checkbox" name="available" value="1" {{ data.available }} />
<hr>
Скачать удалённо:<br>
<input size="70" type="text" name="download_url" value="{{ data.download_url }}" style="width: 96%" />
<hr>
Размер файла (удалённо):<br>
<input size="70" type="text" name="download_url_size" value="{{ data.download_url_size }}" style="width: 96%" />
<hr>
Прикрепить:<br>
<input class="inp-foto" type="file" name="attach" />
<hr>
Добавить файлы:<br>
<div id="attachments">
	<input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
	<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
</div>
<hr>
<input class="subm" type="submit" name="submitForm" value="Отправить" style="width: 100%" />
</div>
</form>