<div class="cBlock">
	<div class="title"><a style="padding: 5px;" href="{{ entity.add_markers.entry_url }}">{{ entity.title }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	<div class="material">
		[Скачать &nbsp;{{ entity.add_markers.attachment }} ]&nbsp;&nbsp;&nbsp;Загрузок: {{ entity.downloads }}
		<hr>
		{{ entity.add_markers.main_text }}
		<div style="clear:both;"></div>
		<hr>
		<span>Автор:&nbsp;<a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span> |
		<span>Раздел:&nbsp;<a href="{{ entity.add_markers.category_url }}">{{ entity.category.title }}</a></span> |
		<span>Просмотров:&nbsp;{{ entity.views }}</span> |
		<span>Добавлен:&nbsp;{{ entity.date }}</span> |
		<span>Комментариев:&nbsp;{{ entity.comments }}</span>{% if entity.sourse %} |
		<span>Источник: {{ entity.sourse }}</span>{% endif %}
	</div>
</div>