﻿<script language="JavaScript" type="text/javascript">
l_empty_message = "Вы должны ввести текст сообщения";
l_no_text_selected = "Выделите текст на странице и попробуйте еще раз";
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="return checkForm(this)">
<div class="title">Новая тема</div>
<div class="material">
Заголовок темы:<br>
<input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:96%">
<hr>
Описание:<br>
<input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:96%" />
<hr>
<textarea class="text-area" name="mainText" style="width:96%">{{ context.main_text }}</textarea>
<hr>
Закрыть доступ:<br>

{% for group in context.users_groups %}
<input type="checkbox"
	{% for curr in context.gr_access %}
		{% if curr == group.id %}
		 checked="checked" 
		{% endif %}
	{% endfor %}
  value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}<br />
{% endfor %}
<hr>
<div id="attachments">
	<input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
	<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
</div>
<hr>
<input class="subm" type="submit" name="submitForm" value="Отправить" style="width:100%" />
</div>
</form>
