﻿<script language="JavaScript" type="text/javascript">
l_empty_message = "Вы должны ввести текст сообщения";
l_no_text_selected = "Выделите текст на странице и попробуйте еще раз";
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="return checkForm(this)">

<textarea class="text-area" name="mainText" style="width: 96%; height: 100px;">{{ context.main_text }}</textarea>

<div id="attachments">
	<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" />{{ context.unlinkfiles.att1 }}<span id="attachMeta1"></span><br />
	<input class="attachField" type="file" id="attach2" name="attach2"  onChange="getFile(2)" />{{ context.unlinkfiles.att2 }}<span id="attachMeta2"></span><br />
	<input class="attachField" type="file" id="attach3" name="attach3"  onChange="getFile(3)" />{{ context.unlinkfiles.att3 }}<span id="attachMeta3"></span><br />
	<input class="attachField" type="file" id="attach4" name="attach4"  onChange="getFile(4)" />{{ context.unlinkfiles.att4 }}<span id="attachMeta4"></span><br />
	<input class="attachField" type="file" id="attach5" name="attach5"  onChange="getFile(5)" />{{ context.unlinkfiles.att5 }}<span id="attachMeta5"></span><br />
</div>

<input class="subm" type="submit" name="submitForm" value="Отправить" />
</form>

