﻿<form name="addForumForm" action="{{ context.action }}" method="POST">
<div class="title">Править форум</div>
<div class="material">
Название форума:<br>
<input type="text" name="title" value="{{ context.title }}" maxlength="120" style="width:96%" />
<hr>
Описание:<br>
<textarea name="description" maxlength="250" style="width:96%; height: 100px">{{ context.description }}</textarea>
<hr>
<input type="submit" name="sendForm" value="Сохранить" style="width:100%;" />
</div>
</form>