﻿<form name='editThemeForm' action="{{ context.action }}" method="POST">
<div class="title">Править тему</div>
<div class="material">
Форум:<br>
<select name="id_forum" style="width:100%">{{ context.options }}</select>
<hr>
Тема:<br>
<input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:96%" />
<hr>
Описание:<br>
<input type="text" name="description" maxlength="128" value="{{ context.description }}"  style="width:96%" />
<hr>
Закрыть доступ:<br>
{% for group in context.users_groups %}
<input type="checkbox"
	{% for curr in context.gr_access %}
		{% if curr == group.id %}
		 checked="checked" 
		{% endif %}
	{% endfor %}
  value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}<br />
{% endfor %}
<hr>
Автор:<br>
<input type="text" name="author" value="{{ context.author }}" disabled style="width:96%" />
<hr>
<input type="submit" name="sendForm" value="Сохранить" />
</div>
</form>
