﻿<div class="material">
{% if today_born_users != 'Сегодня никто не родился' %}
Сегодня день рождения&nbsp;{{ today_born_users }}<hr>
{% endif %}

<b>Статистика</b><br>
Всего создано <b>{{ count_themes }}</b> тем, в которые добавлено <b>{{ count_posts }}</b> ответов.<br>Зарегистрировано <b>{{ count_users }}</b> участников. Приветствуем нового участника <b>{{ new_user }}</b>.
</div>