﻿<form name="sendForm" id="sendForm" action="{{ data.action }}" method="POST" 
enctype="multipart/form-data">
<div class="material">
Категория:<font color="red" class="manStar">*</font><br>
<select name="cats_selector" style="width: 100%">{{ data.cats_selector }}</select>
<hr>
Заголовок:<font color="red" class="manStar">*</font><br>
<input type="text" name="title" maxlength="128" value="{{ data.title }}" style="width: 96%">
<hr>
Описание:<br>
<textarea class="text-area" name="mainText" style="width: 96%">{{ data.main_text }}</textarea>
<hr>
Комментарии: <input type="checkbox" name="commented" value="1" {{ data.commented }} />
<hr>
<input class="subm" type="submit" name="submitForm" value="Отправить" style="width: 100%" />
</div>
</form>
