{% for entity in entities %}
	<div class="title"><a style="padding: 5px;" href="{{ entity.add_markers.entry_url }}">{{ entity.title }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	<div class="material">

	<a href="{{ entity.add_markers.entry_url }}"><img alt="{{ entity.add_markers.foto_alt }}" title="{{ entity.add_markers.foto_alt }}" src="{{ entity.add_markers.preview_foto }}" width="150" height="150" /></a>

		<div style="clear:both;"></div>
		<hr>
		<span>Автор:&nbsp;<a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span> |
		<span>Раздел:&nbsp;<a href="{{ entity.add_markers.category_url }}">{{ entity.category.title }}</a></span> |
		<span>Просмотров:&nbsp;{{ entity.views }}</span> |
		<span>Добавлен:&nbsp;{{ entity.date }}</span> |
		<span>Комментариев:&nbsp;{{ entity.comments }}</span>
	</div>
{% endfor %}